body,
html
  height 100%
  width 100%
  background #399CE3

#map 
  float left
  display inline-block
  width 70%
  height 100%

#chart 
  float right
  width 30%
  height 100%

.background
  fill #399CE3

path
  fill white

.route
  stroke orange
  fill orange