body,
html
  height 100%
  width 100%

#map 
  float left
  display inline-block
  width 70%
  height 100%

#chart 
  float right
  width 30%
  height 100%
  background-color white
  

svg
  background #399CE3

// .graticule
//   fill none
//   stroke #777
//   stroke-opacity .5
//   stroke-width .5px
//   pointer-events none

.timezones
  fill white

.timezones hover
  fill orange

.boundary
  fill none
  stroke #fff
  stroke-width .5px
  pointer-events none